<!DOCTYPE html>
 <html lang="en">
    <head>
        <title>Page Three</title>
        <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="banner">
            <img class="indexbanner" src="../resources/banner.svg"/>
        </div>
        <div class="innercontainer">
            <nav class="menue">
                <h2>Navigation</h2><br>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="two.html">Page Two</a></li>
                    <li><a href="three.html">Page Three</a></li>
                </ul>
            </nav>
            <div class="pagecontent">
                <h1>SVG Animation is Easy!</h1>
                <img class="animationsvg" src="../resources/page_three.svg"/>
            </div>
        </div>
        <div class="footer">
            <div class="footertext">
            Made with love and silliness &lt;3
            </div>
        </div>
    </body>
</html>