<!DOCTYPE html>
 <html lang="en">
    <head>
        <title>table page idk</title>
    </head>
    <body>
        <h1>Favorite Coding Resources</h1>
        <table>
            <caption>table title etc</caption>
            <thead>
                <tr>
                    <th scope="col">Coding Resource</th>
                    <th scope="col">Resource Link</th>
                </tr>   
            </thead>
            <tbody>
                <tr>
                    <td>one</td>
                    <td><a href="/index.html">link one</td>
                </tr>
                <tr>
                    <td>two</td>
                    <td><a href="/index.html">link two</td>
                </tr>
                <tr>
                    <td>three</td>
                    <td><a href="/index.html">link three</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>